<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.finaltask.mapper.UserMapper">
<!--    插入用户，注册用-->
    <insert id="insertUser">
        INSERT INTO user (user_name,password,nick_name,create_time)
        VALUES (#{username},#{password},#{nickname},#{createTime})
    </insert>

<!--    通过用户名查询用户信息-->
    <select id="selectUserByUsername" resultType="org.example.finaltask.pojo.vo.UserVO">
        SELECT id,user_name,password,nick_name,img_url,email,create_time,follow_num,like_num,content_num
        FROM user
        WHERE user_name = #{username}
    </select>
<!--    根据id更新用户信息-->
    <update id="updateUserById">
        UPDATE user
        <set>
            <if test="nickname != null and nickname != ''">nick_name=#{nickname},</if>
            <if test="email != null and email != ''">email=#{email},</if>
            <if test="imgUrl != null and imgUrl != ''">img_url=#{imgUrl}</if>
        </set>
        WHERE id = #{id}
    </update>



    <!--    根据id查询用户头像-->
    <select id="selectImgUrlById" resultType="string">
        SELECT img_url
        FROM user
        WHERE id = #{id}
    </select>

    <update id="addContentNumById">
        UPDATE user
        SET content_num = content_num + 1
        WHERE id = #{id}
    </update>

    <update id="addFollowCountById">
        UPDATE user
        SET follow_num = follow_num + 1
        WHERE id = #{id}
    </update>


    <update id="reduceContentNumById">
        UPDATE user
        SET content_num = content_num - 1
        WHERE id = #{id}
    </update>

    <update id="reduceFollowCountById">
        UPDATE user
        SET follow_num = follow_num - 1
        WHERE id = #{id}
    </update>
</mapper>