<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <!-- import CSS -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
    <!-- import Vue -->
    <script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
    <!-- import Element UI -->
    <script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
    <!-- import Axios -->
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <style>
        .header {

        }
        .main {
            width: 1200px;
            margin:0 auto
        }

        .el-input__inner {
            border-radius: 15px !important; /* 强制覆盖默认样式 */
            border: 1px solid #ccc !important; /* 强制覆盖默认边框 */
        }


    </style>




</head>

<body>
<div id="app">
    <el-container>
        <el-header class="header" style="background-color: #409EFF;line-height: 60px;">
            <el-row>
                <el-col :span="4">
                    <el-button round style="margin: auto;font-family: 'Arial Black'; color: #a6bed7;font-size: 15px;">
                        Return
                    </el-button>
                </el-col>
                <el-col :span="16" style="text-align: center; color: aliceblue; font-family: 'Arial Black';font-size: 25px">
                    Login
                </el-col>
            </el-row>
        </el-header>
        <el-main class="main" style="margin-top: 40px; border-radius: 80px; box-shadow: 20px 20px 20px 20px rgba(0, 0, 0, 0.05);width: 700px;height: 410px;">
            <el-row gutter="10">
                <el-col span="15" style="margin-left: 125px">
                    <el-form style="margin-top: 20px">
                        <el-form-item>
                            <h1 style="margin-bottom: 10px; font-size: 40px">Sign in to unlock <br>the best experience!</h1>
                        </el-form-item>
                        <el-form-item>
                            <el-input type="password" placeholder="username" v-model="user.username" class="rounded-input"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-input type="password" placeholder="password" v-model="user.password" class="rounded-input"></el-input>
                        </el-form-item>
                        <el-form-item>
                            <el-button type="primary" style="border-radius: 15px;margin-left: 300px"@click="Login()">Sign in</el-button>
                        </el-form-item>
                    </el-form>
                </el-col>
            </el-row>
        </el-main>

        <el-footer style=" height: 250px; margin-top: 40px;background-color: #d9e7ed;">
            <div class="main" style="color: darkgray;text-align:left;">
                <el-row style="margin-left: 150px">
                    <el-col span="16" style="margin-top: 20px; width: 170px">
                        <p style="color: #5e5e5e;margin-bottom: 5px;margin-top: 0px">User Service</p>
                        <p  style="font-size: small;margin-top: 0;margin-bottom: 10px">User Agreement</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Privacy Policy</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Rights Protection</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Online Service</p>
                    </el-col>
                    <el-col span="16" style="margin-top: 20px;width: 170px">
                        <p style="color: #5e5e5e;margin-bottom: 5px;margin-top: 0px">Follow Us</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Sina Weibo</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">WeChat</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Xiaohongshu</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">TikTok</p>
                    </el-col>
                    <el-col span="16" style="margin-top: 20px;width: 170px">
                        <p style="color: #5e5e5e;margin-bottom: 5px;margin-top: 0px">Help Center</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Common Problem</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Sitemap</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Feedback</p>
                    </el-col>
                    <el-col span="16" style="margin-top: 20px;width: 300px">
                        <p style="color: #5e5e5e;margin-bottom: 5px;margin-top:0">Contact Number</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">North America：+1 400-000-0000</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Europe：+44 400-000-0000</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Asia Pacific：+86 400-000-0000</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">India：+91 400-000-0000</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">South America：+55 400-000-0000</p>
                        <p style="font-size: small;margin-bottom: 10px;margin-top: 0">Africa：+86 400-000-0000</p>
                    </el-col>
                    <el-col span="5" style="margin-top: 20px;width: 170px">
                        <img src="imgs/imgForFooter.png" width="78.6px" height="78.3px">
                    </el-col>
                </el-row>
                <el-row>
                    <p style="text-align: center;font-size: smaller;color: darkgray;">Copyright © 2024 - future IKUN Travel All Rights Reserved</p>
                </el-row>
            </div>
        </el-footer>
    </el-container>
</div>
<script>
    let v=new Vue({
        el: '#app',
        data: function(){
            return{
                user:{
                    username:'',
                    password:'',
                    nickname:''
                }
            }
        },
        methods:  {
            //注册
            reg(){
                //发出异步post请求
                axios.post("/v1/users/reg",v.user).then(function (response) {

                    if (response.data.code==1){
                        location.href="/login.html";
                    }else{
                        v.$message.error(response.data.msg);
                    }
                })
            }
        }

    })
</script>
</body>

</html>
